.main {
  position: relative;
  background-image: url("/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  z-index: 0; /* Set to 0 to allow ::before to be on top */
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(22, 22, 22, 0.408);
  z-index: -1;
}
